/**
 * Styles for Component.tsx
 * @created 2020-10-20 16:20:53
 * @author trantien <tientv20@fpt.com.vn>
 */

.tabIconContainer {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.tabIcon {
  width: 48px;
  height: 48px;
  display: flex;
  border-radius: 24px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #28abb9;
}

