/**
 * Color variables
 */

$black: #000000;

$white: #ffffff;

$gray: #9098b1;

$light-gray: #D1D9E6;

$neutral: #223263;

$blue: #039be5;

$light-blue: #40bfff;

$red: #ef1414;

$yellow: #ffc833;

$light-green: #53d1b6;

$green: #53D1B6;

$violet: #5C61F4;

$contains-mainly-blue: #8181A5;

$lavenderblush: #faebf0;

$border-red: #ffd4d4;
/**
 * Theme color variables
 */

$primary: $red;

$dark: $neutral;

/**
 * Button variables
 */

$btn-box-shadow: 0px 10px 30px rgba(64, 191, 255, 0.24);

/**
 * Border variables
 */

$border-radius: 10px;

$border-color: #ebf0ff;

$input-border-color: rgba(228, 228, 228, 0.6);

$button-border-color: #f7faff;

/**
 * Font variables
 */

$font-family: NotoSansJP-Regular;

$font-family-bold: NotoSansJP-Bold;
